<div class="results-section">
  <mat-card class="films">
    <h2>History</h2>
    <mat-card class="film" routerLink="/film/{{film.imdbID}}" *ngFor="let film of films">
      {{film.Title}} {{film.Year}} {{film.Type}}
    </mat-card>
  </mat-card>
</div>
