.mat-card {
  margin-bottom: 20px;
}
.mat-card .right-side {
  margin-left: 40px;
}
.mat-card .right-side p {
  margin: 0;
  line-height: 1.2;
  margin-bottom: 5px;
  font-size: 22px;
}
.mat-card .right-side p .might {
  font-weight: 600;
}
