.mat-card {
  margin-bottom: 20px;
  .right-side {
    margin-left: 40px;
    p {
      margin: 0;
      line-height: 1.2;
      margin-bottom: 5px;
      font-size: 22px;
      .might {
        font-weight: 600;
      }
    }
  }
}
