<div class="film-detail-section" fxLayout="column">
  <mat-card *ngIf="film" fxLayout="column">
    <h2>{{film.Title}}</h2>
    <div fxLayout="row">
      <div class="left-side">
        <img src="{{film.Poster}}" alt="poster">
      </div>
      <div class="right-side" fxLayout="column">
        <p><span class="might">Type: </span>{{film.Type}}</p>
        <p><span class="might">Released: </span>{{film.Released}}</p>
        <p><span class="might">Genre: </span>{{film.Genre}}</p>
        <p><span class="might">Director: </span>{{film.Director}}</p>
        <p><span class="might">Actors: </span>{{film.Actors}}</p>
        <p><span class="might">Plot: </span>{{film.Plot}}</p>
        <p><span class="might">IMDB rating: </span>{{film.imdbRating}}</p>
      </div>
    </div>
  </mat-card>
</div>
