<mat-card class="search-section" fxLayout="row" fxLayoutAlign="center center">
  <div class="forms">
    <mat-form-field>
      <input #searchInput type="text" matInput (input)="search(searchInput.value)" [matAutocomplete]="auto">
    </mat-form-field>
    <button routerLink="search-results/{{searchInput.value.trim()?searchInput.value.trim():' '}}" mat-flat-button
      color="primary">Search</button>
  </div>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let film of films$ | async" [value]="film.Title" routerLink="/film/{{film.imdbID}}">
      {{film.Title}}
    </mat-option>
  </mat-autocomplete>
</mat-card>
